.dec, .inc, .reset {
  padding: 8px;
  margin-right: 8px;
  border-radius: 6px;
  color: #fff;
  border: none;
}

.dec {
  background-color: #ff0000;
}

.inc {
  background-color: #3cf614;
}

.reset {
  background-color: #000000;
}

.count {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
}