.addTodo {
    display: flex;
    justify-content: end;
}

.addTodo-btn {
    margin: 10px 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 80ms ease-in;

    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: rgba(18, 178, 178, 0.5);
}

.addTodo-btn:hover {
    background-color: rgba(18, 178, 178);
}