ul,
li {
  list-style: none;
}

.todoListItem {
  max-width: 300px;
  margin: 0 auto;
}

.todoListItem-list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.todoListItem-label {
  display: inline;
  text-align: left;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #12b2b2;
  color: #fff;
  width: 100%;
}
/*.todoListItem-label:after {
   content: '';
    display: block;
    background-color: #ff0000;
    width: 100px;
    height: 4px;
    margin: 0 auto;
}*/
