.done, .important {
    margin-right: 5px;
    padding: 0 5px 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 80ms ease-in;

    background-color: rgba(208, 0, 2, 0.7);
    color: #fff;
}
.important {
    background-color: rgba(208, 191, 63, 0.7);
}

.done:hover {
    background-color: rgba(208, 0, 2);
}
.important:hover {
    background-color: rgba(208, 191, 63);
}