.todoListItem {
  max-width: 300px;
  margin: 0 auto;
}

.todoListItem-list {
  padding: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoListItem-label {
  display: inline;
  text-align: left;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #13a1a1;
  color: #fff;
  width: 100%;
}

.todoListItem-time {
  font-size: 11px;
  margin-left: 20px;
}
